<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StudentDisplayIndex" value="0"/>
		<add key="TeacherDisplayIndex" value="0"/>
		<add key="InternationalStudentDisplayIndex" value="0"/>
		<add key="OutsidePeopleDisplayIndex" value="0"/>
		<add key="Theme" value="Dark"/>
		<add key="IsCustomizedAccentColor" value="False"/>
		<add key="CustomizedAccentColor" value="#0091F8"/>
		<add key="Backdrop" value="Mica"/>
	</appSettings>
</configuration>